<app-header></app-header>
<div class="container">
	<hr>
	<div class="text-center">
		<div class="btn-group" role="group" aria-label="Basic example">
		  <button type="button" class="btn btn-secondary">Maintainence</button>
		  <button type="button" class="btn btn-secondary">Cleanliness</button>
		  <button type="button" class="btn btn-secondary">Doctor &amp; Staff</button>
		  <button type="button" class="btn btn-secondary">Food &amp; Hygiene</button>
		  <button type="button" class="btn btn-secondary">Medicines &amp; Medical Stores</button>
		  <button type="button" class="btn btn-secondary">Medical Equipments </button>
		</div>
	</div>
	<hr>
	<app-questions></app-questions>

</div>
