<ul class="no-list-icon">
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
	<li>
		<h4>Q.1. How would you rate the facilities provided?</h4>
		<app-question-rating></app-question-rating>
	</li>
</ul>
