
<hr>
<div class="text-center">
	<div class="btn-group" role="group" aria-label="Basic example">
	  <button *ngFor="let category of categories" (click)="showCategoryQuestions(category.category_id)" type="button" class="btn btn-secondary" [ngClass]="{'btn-active' : (category.category_id == currentCategory)}">{{category.name}}</button>
	</div>
</div>
<hr>
<ul class="no-list-icon">
	<li *ngFor="let question of questions; let idx = index">
		<h4>Q.{{ idx + 1 }}. {{question.question}}</h4>
		<app-question-rating [rating]='question.rating' [itemId]='question.id' (ratingClick)='ratingComponentClick($event)'></app-question-rating>
	</li>
</ul>
<hr>
<div class="text-center" *ngIf = "showNext">
	<button  (click)=clickNext() class="btn btn-primary">Save &amp; Next</button>
</div>
<div class="text-center" *ngIf = "!showNext">
	<button  (click)=onlySave() class="btn btn-primary">Save</button>
</div>
<br><br>
